{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>{{ _('Perfeito!') }}</strong> {{ message }}
                    </div>
                {% elif category == 'error' %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>{{ _('Oh droga...') }}</strong> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    <form action="/forgotPassword" method="post">
        <fieldset>
            <div class="d-flex align-items-center justify-content-center">
            <div class="card border-primary mb-3" style="max-width: 30rem; width: 25rem;">
                <div class="card-header">{% block title %} {{ _('Recuperação de Senha') }} {% endblock %}</div>
                <div class="card-body">
                    <div>
                        <h4 for="exampleInputEmail1" class="form-label mt-4">E-mail</h4>
                        <p>{{ _('Digite seu e-mail para que possamos enviar uma chave de recuperação.') }}</p>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ _('Digite seu e-mail') }}" required>
                    </div>
                    <div class="d-grid gap-2 form-label mt-4">
                        <button class="btn btn-primary" type="submit">{{ _('Enviar') }}</button>
                        <button onclick="window.location.href='/login';" class="btn btn-outline-secondary" type="button">{{ _('Voltar') }}</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    {% endwith %}
{% endblock %}