{% extends 'base.html' %}

{% block content %}
    <form>
        <fieldset>
            <div class="d-flex align-items-center justify-content-center">
            <div class="card border-primary mb-3" style="max-width: 30rem; width: 25rem;">
                <div class="card-header">{% block title %} Seja Bem-Vindo! {% endblock %}</div>
                <div class="card-body">
                    <div>
                        <h4 for="exampleInputEmail1" class="form-label mt-4">Login</h4>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                    </div>
                    <div>
                        <h4 for="exampleInputPassword1" class="form-label mt-4">Senha</h4>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha" autocomplete="off">
                    </div>
                    <div class="d-grid gap-2 form-label mt-4">
                        <button class="btn btn-primary" type="submit">Login</button>
                        <button onclick="window.location.href='/register';" class="btn btn-outline-secondary" type="button">Registrar</button></a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}