{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Oh Droga...</strong> {{ message }}
              </div>
            {% endfor %}
        {% endif %}
    <form action="/login" method="post">
        <fieldset>
            <div class="d-flex align-items-center justify-content-center">
            <div class="card border-primary mb-3" style="max-width: 30rem; width: 25rem;">
                <div class="card-header">{% block title %} Seja Bem-Vindo! {% endblock %}</div>
                <div class="card-body">
                    <div>
                        <h4 for="exampleInputEmail1" class="form-label mt-4">Login</h4>
                        <input name="login" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail" required>
                    </div>
                    <div>
                        <h4 for="exampleInputPassword1" class="form-label mt-4">Senha</h4>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha" autocomplete="off" required>
                    </div>
                    <div class="d-grid gap-2 form-label mt-4">
                        <button class="btn btn-primary" type="submit">Login</button>
                        <button onclick="window.location.href='/register';" class="btn btn-outline-secondary" type="button">Registrar</button>
                    </div>
                    <div style="display: inline-flex; width: 103%;">
                        <a href="/loginOAuthGoogle" class="google-btn">
                            <div class="google-icon-wrapper"> 
                                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png" /> 
                            </div>
                            <p class="btn-text">
                                <b>Sign in with Google</b>
                            </p>
                        </a>
                        <a href="/loginOAuthGithub" class="github-btn">
                            <div class="github-icon-wrapper"> 
                                <img class="github-icon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" /> 
                            </div>
                            <p class="btn-text">
                                <b>Sign in with GitHub</b>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    {% endwith %}
{% endblock %}