{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{% block title %} {{ _('Músicas') }} {% endblock %}</h1>
        {# Botão para levar à nova página de cadastro #}
        <a href="{{ url_for('routes.add_music') }}" class="btn btn-primary">{{ _('Adicionar Nova Música') }}</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'success' %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{ _('Sucesso!') }}</strong> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}

    <table class="table table-hover mt-2">
        <thead>
            <tr class="table-dark">
                <th scope="col">{{ _('Título') }}</th>
                <th scope="col">{{ _('Artista') }}</th>
                <th scope="col">{{ _('Gênero') }}</th>
                <th scope="col">{{ _('Data de Criação') }}</th>
                <th scope="col">{{ _('Data de Modificação') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for music in musics %}
            <tr class="{% if loop.index is even %}table-primary{% else %}table-light{% endif %}">
                <td>{{ music.title }}</td>
                <td>{{ music.artist }}</td>
                <td>{{ music.genre }}</td>
                <td>{{ music.created }}</td>
                <td>{{ music.modified }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex btn-group-horizontal justify-content-center align-items-center">
        {% if page > 1 %}
        <a href="{{ url_for('routes.musics', page=page-1) }}" class="btn btn-outline-primary m-sm-2">{{ _('Anterior') }}</a>
        {% endif %}

        <span class="p-2"> {{ _('Página') }} {{ page }} {{ _('de') }} {{ total_pages }} </span>

        {% if page < total_pages %}
        <a href="{{ url_for('routes.musics', page=page+1) }}" class="btn btn-outline-primary m-sm-2">{{ _('Próximo') }}</a>
        {% endif %}
    </div>
</div>
{% endblock %}