{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>{{ _('Perfeito!') }}</strong> {{ message }}
                    </div>
                {% elif category == 'error' %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>{{ _('Oh Droga...') }}</strong> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
    <form action="/forgotPassword/{{ token }}" method="post">
        <fieldset>
            <div class="d-flex align-items-center justify-content-center">
            <div class="card border-primary mb-3" style="max-width: 30rem; width: 25rem;">
                <div class="card-header">{% block title %} {{ _('Alteração de Senha') }} {% endblock %}</div>
                <div class="card-body">
                    <div>
                        <h4 for="exampleInputEmail1" class="form-label mt-4">{{ _('Nova Senha') }}</h4>
                        <input name="password" type="password" class="form-control" aria-describedby="passwordrecover" placeholder="{{ _('Digite sua nova senha') }}" required>
                    </div>
                    <div class="d-grid gap-2 form-label mt-4">
                        <button class="btn btn-primary" type="submit">{{ _('Alterar') }}</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    {% endwith %}
{% endblock %}