{% extends 'base.html' %}

{% block content %}

<form action="/users" method="post">
    <fieldset>
        <div class="d-flex align-items-center justify-content-center">
            <div class="card border-primary mb-3" style="max-width: 30rem; width: 25rem;">
                <div class="card-header">{{ _('Hora de se registrar!') }}</div>
                <div class="card-body">
                    <div>
                        <!-- E-mail -->
                        <h4 class="form-label mt-4">Login</h4>
                        <input name="login" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ _('Digite seu e-mail') }}" required>
                        <!-- Senha -->
                        <h4 class="form-label mt-4">{{ _('Senha') }}</h4>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="{{ _('Digite sua senha') }}" autocomplete="off" required>
                        <!-- Nome -->
                        <h4 class="form-label mt-4">{{ _('Nome') }}</h4>
                        <input name="firstName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="firstNameHelp" placeholder="{{ _('Digite seu nome') }}" required>
                        <!-- Sobrenome -->
                        <h4 class="form-label mt-4">{{ _('Sobrenome') }}</h4>
                        <input name="lastName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="lastNameHelp" placeholder="{{ _('Digite seu sobrenome') }}" required>
                    </div>
                    <div class="d-grid gap-2 form-label mt-4">
                        <button class="btn btn-primary" type="submit">{{ _('Registrar') }}</button>
                        <button onclick="window.location.href='/login';" class="btn btn-outline-secondary"
                            type="button">{{ _('Voltar') }}</button>
                    </div>
                </div>
            </div>
    </fieldset>
</form>

{% endblock %}