{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ _('Usuários') }} {% endblock %}</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if messages and category == 'success' %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{ _('Sucesso,') }}</strong> {{ message }}
                </div>
            {% elif messages and category == 'error' %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{ _('Opa...') }}</strong> {{ message }}
                </div>
            {% elif messages and category == 'warning' %}
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{ _('Cuidado...') }}</strong> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
 
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="row">{{ _('Nome') }}</th>
                <td>{{ _('Senha') }}</td>
                <td>{{ _('Situação:') }}</td>
                <td>{{ _('Data de Criação') }}</td>
                <td>{{ _('Data de Modificação') }}</td>
                <td>{{ _('Editar') }}</td>
                <td>{{ _('Bloquear') }}</td>
            </tr>
            {% for dado in dados %}
            <tr class="{% if loop.index is even %}table-primary{% else %}table-light{% endif %}">
                <th scope="row">{{ dado.firstName }}</th>
                <td>{{ dado.password }}</td>
                {% if dado.status == 1 %}
                    <td>{{ _('Ativo') }}</td>
                {% elif dado.status == 2 %}
                    <td>{{ _('Bloqueado') }}</td>
                {% else %}
                    <td>{{ _('Inativo') }}</td>
                {% endif %}
                <td>{{ dado.created }}</td>
                <td>{{ dado.modified }}</td>
                <td>
                    <form action="/users" method="post">
                        <input type="hidden" name="_method" value="GET">
                        <button name="id" value="{{ dado.id }}" type="submit"><span class="material-symbols-outlined">Edit</span></button>
                    </form>
                </td>
                <td>
                    <form action="/users" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button name="id" value="{{ dado.id }}" type="submit"><span class="material-symbols-outlined">Block</span></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <div class="d-flex btn-group-horizontal justify-content-center align-items-center">
        <!-- Botão para a página anterior -->
        {% if page > 1 %}
        <button type="button" class="btn btn-primary m-sm-2"><a class="no-style-link" href="{{ url_for('routes.users', page=page-1) }}">Anterior</a></button>
        {% endif %}
  
        <!-- Exibe o número da página atual -->
        <span> Página {{ page }} de {{ total_pages }} </span>
  
        <!-- Botão para a próxima página -->
        {% if page < total_pages %}
        <button type="button" class="btn btn-primary m-sm-2"><a class="no-style-link" href="{{ url_for('routes.users', page=page+1) }}">Próximo</a></button>
        {% endif %}
      </div>
{% endblock %}